.row
  .col-xs-12.col-md-12.col-lg-12.animated-panel.zoomIn(style='animation-delay: 0.4s; -webkit-animation-delay: 0.4s;', ng-if="selectedReport")
    .hpanel.stats
      .panel-body.h-200
        .stats-title.pull-left
          h3.text-success Available Reports
        
        table.table.table-hover.dashboards
          thead
            th Name
            th Time
            th Progress
            th(colspan="2") Actions
          tbody
            tr(ng-repeat='report in reports')
              
              td(width="10%") {{ report.name }}
              td(width="30%") From: {{ format(report.time.from) }} <br/> To: {{ format(report.time.to) }}
              td
                //{{ report.matrix.length }}
                span(ng-if="report.progress")
                  | Available 
                span(ng-if="!report.progress")
                  | creating report...
                //.progress
                //  .progress-bar.progress-bar-info(role="progressbar", aria-valuenow="{{ report.progress }}", aria-valuemin="0", aria-valuemax="100", style="width: {{ report.progress }}%;")
                //    {{ report.progress }} %
              td.min(width="1%")
                a.btn.btn-default.btn-xs(ui-sref="main.reports.open({id: report._id})")
                  i.glyphicon.glyphicon-eye-open
                  //- td.min(width="1%") 
                  //-   a.btn.btn-danger.btn-xs(ng-click='deleteReport(Report)')
                  //-     i.glyphicon.glyphicon-trash

  .col-xs-12(ng-if="!selectedReport")
    div(gridster="gridsterOpts")
      ul
        li(gridster-item="item", ng-repeat="item in items", id="_{{ item.id }}")
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                |                     
                a.closebox
                  i.fa.fa-times
              | {{ item.name }}
            .panel-body
              div(id="vis-{{ item.id }}")

.row(ng-if="selectedReport")
  nav(mfb-menu, position="br", effect="slidein", active-icon="ion-navicon-round", resting-icon="ion-navicon-round", toggling-method="click")
    //button(mfb-button, icon="ion-record", label="Save", ng-click="openVisualizationSaveModal()")
    button(mfb-button, icon="ion-plus", label="Add report", ng-click="routeTo('/reports/create')")
