div(ui-view="main")
  #header(ng-controller="HeaderController")
    .color-line
    #logo.light-version(style="background-image: url('app/main/netpath.png');background-repeat: no-repeat;background-size: 48px;background-position: 4px;padding-left: 83px;")
      //- a 
      //-   span NetPath
      div.dropdown(uib-dropdown, style="height: 36px;")
        a.dropdown-toggle(href='#', data-toggle='dropdown', uib-dropdown-toggle, id="test-logo")
          span NetPath
            b.caret
        |                     
        ul.uib-dropdown-menu.dropdown-menu.hdropdown.animated.flipInX(aria-labelledby="test-logo")
          li
            a(href="http://welight-scb.wtelecom.es")
              span
                i.pe.pe-7s-light.fa-lg.text-info(style="padding-right: 10px;")
                | WeLight
          |                         
          li
            a(href="http://egarbage-scb.wtelecom.es")
              span
                i.pe.pe-7s-trash.fa-lg.text-success(style="padding-right: 10px;")
                | eGarbage
           
    nav(role='navigation')
      .header-link.hide-menu
        i.fa.fa-bars
      |         
      .small-logo
        span.text-primary NetPath
      |         
      .navbar-right
        ul.nav.navbar-nav.no-borders
          //- li
          //-   a.toggle-time-filter(ng-click="toggleTimeFilter()")
          //-     i.fa.fa-clock-o
          //-     span.time-filter {{timeFilterText}}
          li.dropdown(uib-dropdown)
            a.dropdown-toggle.label-menu-corner(href='#', data-toggle='dropdown', uib-dropdown-toggle, id="alerts-icon-bar")
              //- i.fa.fa-bell-o
              i.pe-7s-bell
              span.label.label-success 2
            |                     
            ul.uib-dropdown-menu.dropdown-menu.hdropdown.notification.animated.flipInX(aria-labelledby="alerts-icon-bar")
              li
                a
                  span.label.label-danger ERR
                  |  SQUADA-01-ES01 down
              |                         
              li
                a
                  span.label.label-warning WAR
                  |  WSC-122-ES17 Hub unreachable
              |                         
              li.summary
                a(href='#') See all alerts
          li.dropdown
            a
              i.pe-7s-upload.pe-rotate-90

  aside#menu(ng-controller="MenuController")
      #navigation
          .profile-picture
            a(href='#')
              img.img-circle.m-b.img-responsive(src='app/account/logo.png', alt='logo')
            |             
            .stats-label.text-color
              span.font-extra-bold.font-uppercase {{ user.name }}
              .dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false', uib-dropdown-toggle, id="test-icon-bar")
                  small.text-muted
                    | Technical manager at WT
                    b.caret
                  |                     
                ul.dropdown-menu.animated.flipInX.m-t-xs(aria-labelledby="alerts-icon-bar")
                  li
                    a(href='contacts.html') Contacts
                  |                         
                  li
                    a(href='profile.html') Profile
                  |                         
                  li
                    a(href='analytics.html') Analytics
                  |                         
                  li.divider
                  |                         
                  li
                    a(href='', ng-click='logout()') Logout
          |         
          ul#side-menu.nav.metismenu
            li
              a(ui-sref='main.home')
                span.nav-label Home
                span.arrow
                  i.fa.fa-tachometer
            li
              a
                span.nav-label Dashboards
                span.arrow
                  i.fa.fa-desktop               
              ul.nav.nav-second-level
                li
                  a(ui-sref='main.dashboard.create') Create
                    span.arrow
                      i.fa.fa-plus-square-o                  
                li
                  a(ui-sref='main.dashboard.open') Open
                    span.arrow
                      i.fa.fa-folder-open-o
            li
              a
                span.nav-label Visualizations
                span.arrow
                  i.fa.fa-eye
              ul.nav.nav-second-level
                li
                  a(ui-sref-active="active", ui-sref="main.visualization.new") Create
                    span.arrow
                      i.fa.fa-plus-square-o
                li
                  a(ui-sref-active="active", ui-sref="main.visualization.open") Open
                    span.arrow
                      i.fa.fa-folder-open-o
            li
              a
                span.nav-label Reports
                span.arrow
                  i.fa.fa-tasks
              ul.nav.nav-second-level
                li
                  a(ui-sref-active="active", ui-sref="main.visualization.new") Create
                    span.arrow
                      i.fa.fa-plus-square-o       
                li
                  a(ui-sref-active="active", ui-sref="main.visualization.open") Open
                    span.arrow
                      i.fa.fa-folder-open-o
            li
              a(ui-sref='main.dashboard.open({id: "57336795dd7f8d016f2d796b"})')
                span.nav-label EP metrics
                span.arrow
                  i.fa.fa-wifi
            li
              a(ui-sref='main.dashboard.open({id: dashboard._id})')
                span.nav-label Link metrics
                span.arrow
                  i.fa.fa-link
            li
              a(ui-sref='main.dashboard.open({id: dashboard._id})')
                span.nav-label Flow analysis
                span.arrow
                  i.fa.fa-code-fork
            li
              a(ui-sref='main.dashboard.open({id: dashboard._id})')
                span.nav-label System metrics
                span.arrow
                  i.fa.fa-server
            li
              a(ui-sref='main.settings')
                span.nav-label Settings
                span.arrow
                  i.fa.fa-sliders

  #wrapper
    div(ng-include='"components/time-filter/time_filter.html"')

    .normalheader.transition.animated.fadeIn.small-header
      .hpanel
          .panel-body          
            #hbreadcrumb.pull-right
              div.hbreadcrumb(ncy-breadcrumb)
            h2.font-light.m-b-xs
              | {{ sectionName }}
            |             
            small {{ sectionDescription }}
    .content.animate-panel
      div(ui-view="section-view")
